nav,
nav ul {
  display: flex;
}
.first-left div,
.first-left h2 {
  margin-bottom: 1.2em;
}
*,
nav ul {
  margin: 0;
  /* overflow: hidden; */
  /* outline: 2px solid red; */
  /* overflow-x: scroll; */
}
*,
.first-left,
.info p,
.row,
.third-section > div > p,
nav ul {
  padding: 0;
}
.info img,
.map iframe,
img {
  object-fit: contain;
}
.copyright,
.fourth-section > div > h2,
.fourth-section > div > p,
.service-div,
.third-section {
  text-align: center;
}
#myBtn,
.dropdown,
.dropdown li,
.menu-icon {
  display: none;
}
:root {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  overflow-wrap: break-word;
  transition: 0.2s;
}
body {
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Open Sans", sans-serif;

  color: #444;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: Nunito, sans-serif; */
  font-family: "Nunito", sans-serif;
  line-height: 1.2;
}
header {
  margin: 1em;
}
.left a img {
  max-height: 2.6em;
}
nav {
  align-items: center;
  justify-content: space-between;
}
nav ul {
  justify-content: center;
}
nav ul li {
  list-style: none;
  margin: 0 1.2em;
  font-weight: 700;
  font-size: 1em;
}
nav ul a {
  text-decoration: none;
  color: #067347;
}
.menu-icon {
  background-color: #067347;
  color: #fff;
  height: 1.2em;
  width: 2em;
  justify-content: center;
  align-items: center;
  border-radius: 0.2em;
}
.dropdown {
  background-color: #fff;
}
main {
  display: grid;
  row-gap: 5.8vw;
  margin-bottom: 5.8vw;
}
.first-section {
  display: flex;
  align-items: end;
  margin: 2em 0;
}
.first-right {
  display: flex;
  position: relative;
}
.first-left h1 {
  font-weight: 700;
  font-size: 3.1em;
  color: #067347;
}
.first-left h2 {
  font-weight: 500;
  font-size: 1.7em;
}
.first-left div a,
.second-left a {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  font-size: 1em;
  height: 3em;
  width: 40%;
  font-weight: 600;
  background-color: #067347;
}
.second-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.second-left {
  padding: 40px;
}
.second-left h3 {
  color: #067347;
  font-size: 14px;
  font-weight: 700;
}
.second-left h2 {
  font-size: 25px;
  line-height: 1.2;
  font-weight: 700;
  color: #067347;
}
.second-left p {
  margin: 15px 0 30px;
  line-height: 1.7vw;
  font-weight: 400;
  font-size: 16px;
}
.third-section div h2 {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 700;
  color: #067347;
}
.third-section > div > p {
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color: #0e8253;
}
.service-div h3 {
  font-weight: 700;
  font-size: 28px;
}
.copyright,
.info,
.service-div p,
footer ul li a {
  font-weight: 400;
}
.service-div p {
  font-size: 16px;
}
.service-div {
  box-shadow: 0 0 30px rgba(14, 130, 83, 0.08);
  height: 100%;
  padding: 60px 30px;
  transition: 1s;
  border-radius: 5px;
}
.service-div .icon {
  font-size: 36px;
  padding: 40px 20px;
  border-radius: 4px;
  position: relative;
  margin-bottom: 25px;
  display: inline-block;
  line-height: 0;
}
#s-div-1 {
  background-color: rgb(225, 243, 253);
}
#s-div-2 {
  background-color: #f7e3c8;
}
#s-div-3 {
  background-color: #dbfce1;
}
.blue {
  border-bottom: 3px solid #2db6fa;
}
.orange {
  border-bottom: 3px solid #f68c09;
}
.green {
  border-bottom: 3px solid #08da4e;
}
.blue:hover {
  background-color: #2db6fa;
  color: #fff;
}
.orange:hover {
  background-color: #f68c09;
  color: #fff;
}
.green:hover {
  background-color: #08da4e;
  color: #fff;
}
.fourth-section > div > h2 {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: #067347;
}
.fourth-section > div > p {
  margin: 10px 0 0;
  padding: 0;
  font-size: 40px;
  line-height: 42px;
  font-weight: 700;
  color: #0e8253;
}
.info {
  font-size: 10px;
  color: #444;
  background: #4af6b0;
  padding: 2em;
  height: 20em;
}
.info img {
  height: 38px;
  width: 38px;
}
.info h3 {
  font-size: 20px;
  color: #0e8253;
  font-weight: 700;
  margin: 20px 0 10px;
}
.info p,
footer p {
  line-height: 24px;
  margin-bottom: 0;
  font-size: 14px;
}
.map {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* edited */
  /* min-height: 500px; */
  background-color: #4af6b0;
}
.map iframe {
  border: 0;
  width: 90%;
  height: 90%;
  /* edited */
  max-height: 450px;
}
footer img {
  max-height: 40px;
  margin-right: 6px;
}
footer .col-md-12 a {
  margin-bottom: 15px;
}
footer ul li a {
  text-decoration: none;
  /* color: #109962; */
  color: #067347;
  line-height: 2;
  /* font-size: 14px; */
  font-size: 100%;
}
.copyright {
  padding-top: 30px;
  color: #0e8253;
  font-size: 14px;
}
#myBtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: 0;
  background-color: #01a564;
  color: #fff;
  cursor: pointer;
  font-size: 2em;
  width: 3rem;
  border-radius: 1em;
}
#myBtn:hover {
  background-color: #555;
}
@media (max-width: 1076px) {
  .first-section {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .second-left h2 {
    font-size: 2.2vw;
  }
  .second-left p {
    font-size: 18px;
    line-height: 1.2;
  }
}
@media (max-width: 991px) {
  .open,
  .open li {
    background-color: #067347;
  }
  .menu-icon,
  .open li {
    display: flex;
  }
  .right ul li {
    display: none;
  }
  .open li {
    justify-content: center;
    align-items: center;
    margin: 1.4em 0;
  }
  .open li a {
    text-decoration: none;
    color: #fff;
  }
  .open {
    display: block;
    position: absolute;
    /* right: 1rem; */
    right: 4vw;
    top: 4rem;
    /* height: 160vw;
    width: 90vw; */
    height: 84vh;
    width: 92vw;

    z-index: 10;
  }
  .first-left h1 {
    display: flex;
    text-align: center;
    font-size: 2.7em;
  }
  .first-left h2 {
    display: block;
    text-align: center;
    font-size: 1.6em;
  }
  .first-left div,
  .second-left div {
    display: flex;
    justify-content: center;
  }
  .second-left h2 {
    font-size: 24px;
  }
  .second-left p {
    font-size: 17px;
  }
  .col-height {
    /* height: 60vh; */
    /* edited */
    height: 50vw;
    min-height: 500px;
  }
}
@media (max-width: 391px) {
  .first-left h1 {
    display: flex;
    text-align: center;
    font-size: 1.8em;
  }
  .first-left h2 {
    display: block;
    text-align: center;
    font-size: 1.5em;
  }
  .first-left div {
    display: flex;
    justify-content: center;
  }
  .first-left div a,
  .second-left a {
    width: 60%;
  }
  .second-left h2 {
    font-size: 25px;
  }
}
.fade-up {
  opacity: 0;
  /* 2s */
  transition: opacity 1s ease-in-out;
}
.fade-up.inview {
  opacity: 1;
}
@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}
.zoom-out {
  /* 2s */
  animation: 1s linear zoomOut;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in-image {
  animation: 2s linear forwards fadeIn;
}
@media (max-width: 767px) {
  .col-md-12,
  .container {
    width: 100%;
  }
  .container {
    padding: 0 15px;
  }
  .row {
    flex-direction: column;
  }
}
/* .first-container{
  background-image: url(https://tayoex.com.au/assets/img/hero-bg.png);
} */
.pulse {
  /* box-shadow: 0px 0px 1px 1px #0000001a; */
  /* animation: pulse-animation 2s infinite; */
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 2vmax;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}
.shadows {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
